/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkgreen;
}


/**************
Your Formatting
***************/

/* setting up initial mobile grid */
#yourgrid{
    display:grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 30px auto auto 30px;
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
    "footer"; 
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

/* display flex for header footer and nav */
header,
footer,
nav{
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
}

/* changing bg color */
.menu{
    background-color: #ccc;
    width: 6rem;
}

/* spacing menu items evenly */
nav{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
      
}

.items{
    margin:0;
    padding: 0;
    list-style: none;
    background-color: #ddd;
    
}

/* submenu list items  */
.items>li{
    padding-left: .25rem;
    background-color: #ddd;
    
}

/* desktop grid layout */

@media (min-width:1000px){
    #yourgrid{
        width:90vw;
        max-width: 1000px;
        margin:auto;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 75px 30px auto 50px;
        grid-template-areas:
        "header header"
        "article nav"
        "article aside"
        "footer footer"  
    }
    header, footer{
        background-color: lightpink;
    }

    article{
        background-color: lightcyan;
    }

    aside{
        background-color: lightblue;
    }

    nav{
        background-color: lavenderblush;
    }
}