/*setting styles for the entire document*/

*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}


/*background color and margin for the body*/
body{
    background:#fefefe;
    margin-left:10%;
    margin-right:10%;
}


/*anchor tag text styles setting fonts, sizes, color, taking away underline*/
a{
font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2;
    color: rgb(38, 39, 39);
    text-decoration:none;
    display:block;
    -webkit-transition:.3s ease;
}


/*on hover over links they fill to full white to give the user feedback*/
a:hover{
    color:rgb(18, 126, 93);
    -webkit-transition:.3s ease;
    
}


/*header styles*/
h1{
   font-family: 'Montserrat', sans-serif;
    font-weight:700;
    color:rgb(18, 126, 93);
    font-size:28px;
    text-align:center;
    
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:rgb(38, 39, 39);
    text-align: center;
    max-width:25%;
    margin:auto;
    margin-bottom:30px;
    
}

/*flex container setting the direction to row so the items display next to each other*/
.flex-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:44px;
    
}

h2{
    color:rgb(18, 126, 93);
    
}

h3{
    color:rgb(18, 126, 93);
    font-size:16px;
}

/*image properties that round corers, set the size, cener it, give it top and bottom margins*/
img.me{
    width:300px;
    height:auto;
    border-radius:50%;
    margin:auto;
    display:block;
    margin-top:5%;
    margin-bottom:5%;
}


/* media query for phone that changes the display of the flexbox */
@media only screen and (max-width:600px){
    .flex-container{
        flex-direction:column;
    }

}

