/* css reset from Meyer web*/

    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* my styling starts here */

/* setting styles for the whole document */
* body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    color: #2e2e2e;
    margin-left: 40px;
    
}

/* navigation flex and setting margins */

nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

/* targeting links in the nav */
nav>a{
    margin: 40px;
}

/* link styling */
a{
    font-size: .8rem;
    text-decoration:none;
    color:#2e2e2e;
    -webkit-transition: .3s ease;
}

/* styling indicating what page you're on */
#active{
    color:#2ecf9f;
}

/* when links are hovered over change the color */
a:hover{
    color:#2ecf9f;
    
}

/* header section styling (bio section) */
header{
    margin-top:20%;
    margin-bottom:15%;

}

/* styling the h1 of the header */
header > h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align:center;
    margin-bottom:20px;
}

/* making 'jaycee' styled differently */
span{
    color:#2ecf9f;
}

/* styling the subheader in the bio and body text in the content section*/
header, .tagline > p{
    font-size: 0.9rem;
    font-weight:400;
    text-align:center;
}


/* lining up view work below and svg arrows and centering it*/
.tagline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:10%;
   
}

/* svg arrow styling */
.arrow{
    margin-left: 5px;
    margin-right: 5px
    
}

/* targeting all divs that are children of the content section */
.content > div{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #e6e6e6;


}

/* setting up css grid for the project section */
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(300px, auto);
    max-width: 85%;
    margin: auto;
    margin-bottom: 40px;
}

/* setting the images to be the size of their containers */
img{
    max-width: 100%;
    max-height: 110%;
}

.cary-mobile{
    display:none;
}

/* sizing + placement for the project divs */
.one {
  grid-column: 1;
  grid-row: 1;
}

.two { 
  grid-column: 2;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2;
}

/* footer styling */
footer{
    background-color: #4d4d4d;
    margin-top:80px;
    margin-left: -40px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;

}

/* changing color of the want more text and pushing it to the left*/
footer > h1{
    color:#2ecf9f;
    margin-right: 65%;
}

/* spacing links out in the footer */
footer > a {
    margin-right: 20px;
    color: #fafafa;
    -webkit-transform:.3s ease;
}

footer > a:hover{
    color: #2ecf9f;
}

/* styling for contact web page */
h1{
    font-size: 2rem;
    font-weight: 600;
    text-align:left;
    margin-bottom:20px;
}

.bio{
    max-width: 55%;
    margin-right: 20px;
}

/* styling body text in the bio */
.bio > p {
    font-weight: 300;
    line-height: 1.8rem;
    margin-top: 20px;
    
}

/* displaying items in a row */
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;

}

/* profile image styling */
.wrapper > img{
    width: 60%;
    height: 100%;
    margin-right: 40px;
}


/* individual project page styling */

h2{
    text-align:center;
    margin-top: 10%;

}

.project-summary > p{
    font-weight: 300;
    font-size: .9rem;
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;

}

.project-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



img.project-imgs{
    width: 800px;
    height: auto;
    margin-top: 40px;
    margin:auto;
}

/* video styling */
video{
    margin-top:0;
    border: .5px #2e2e2e solid;
    margin-right: 20px;
}


/* styles for the documentation page */
h3{
   text-align:left;
    margin-top: 10%;
    margin-bottom: 40px;

}

p{
    font-weight: 300;
    line-height: 1.8rem;
}

.doc{
    max-width:70%;
}

li{
    text-decoration: none;
    margin-top: 10px;
    font-weight: 300;
}

ul{
    margin-top: 10px;
}

/* mobile media query styling */

@media only screen and (max-width: 600px) {

    body{
        margin: auto;
        margin-left: 20px;

    }

    /* changing the projects to be arranged vertically in column */
    .content{
        display: flex;
        flex-direction: column;
      
    }

    /* updating sizes of project containers */
    .content > div{
        width: 75vw;
        height: 220px;
        margin:auto;
        margin-bottom: 20px;
    }

/* updating styling of the footer */
    footer{
        width: 100vw;
        display:flex;
        justify-content: center;
    }

    footer > h1 {
        margin-left: 0;
        margin-right: 10px;
    }

    footer > a{
    margin-left: 10px;
    }

/* making images fit container better */
    img{
        max-width: 110%;
        max-height: 100%;
    }

    /* hidinng the vertical image */
    .cary-desk{
        display:none;
    }

    /* updating the image with a horizonal one */
    .cary-mobile{
        display: block;
    }


    /* styling for contact page */
    nav > a{
        font-size: .9rem;
        margin: 5px;
    }

    .wrapper{
        flex-direction: column;
        margin-left: 40px;
    }

    .bio{
        max-width:75%;
    }

    .wrapper > img{
        width: 75vw;
        margin-top: 20px;

    }

    a{
        font-size: .9rem;
    }

    /* project pages media query */

    .wrapper > img{
        margin-bottom: 40px;
    }

    p{
        text-align: left;
        font-size: 1rem;
    }

    img.project-imgs{
        width: 80vw;
    }

    video{
        width: 100vw;
        margin-bottom: 40px;
        margin-right: 40x;
    }

    h1{
        margin-top: 40px;
    }
}

/* print media query */


    @media print {
        nav{
            display: none;
        }

        footer{
            display: none;
        }

        a:after {
            content: "("attr(href)")";
          }

        @page {
            margin: 2cm;
          }
    }