/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

    /* setting up the mobile grid */
#wrapper{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" 
        "nav" 
        "article" 
        "aside" 
        "footer";
}

/* centering content vertically and horizontally */
header,footer{
    display:flex;
    align-items: center;
    justify-content: center;
}

.menuitem{
    background: white;
    margin: 0;
    border-top: 1px solid #b5e7a0;
}

.submenu{
    text-decoration:none;
    margin:0;
    padding:0;
    display:none;
}

/* targeting links that are children of the submenu class */
.submenu li{
    padding-left:.25rem;
    background: lightgray;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

/* desktop media query*/
@media screen and (min-width: 720px){
    #wrapper{
        margin:auto;
        width:90vw;
        max-width: 1200px;
        min-height: 100vh;
        grid-template-columns: 1fr 2fr 200px;
        grid-template-rows: 4rem 1fr 3rem;
        grid-template-areas: 
        "header header header"
        "aside article nav"
        "footer footer footer" 
    }
}
